<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Oogkleur van studenten</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="text-eye-container">
			<h1>Kleur ogen van studenten:</h1>
			<div class="ownEye-outer" id="outer-example">
				<div class="ownEye-inner" id="example">
					<div class="inner-inner"></div>
				</div>
			</div>
			<div class="ownEye-outer" id="outer-example">
				<div class="ownEye-inner" id="example">
					<div class="inner-inner"></div>
				</div>
			</div>
		</div>
		<div class="container-boxes"></div>
		<a href="javascript:void(0)" class="toggleAnimation" style="display: block; margin-top: 100px;">toggle animation</a>
		<div class="container-eyes"></div>
		<script src="https://d3js.org/d3.v6.min.js"></script>
		<script src="data.js"></script>
		<script src="script.js"></script>
	</body>
</html>